name: Check requirements file consistency

on: [push]

permissions: {}

jobs:
  requirements-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # 6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
        with:
          dev: false
      - run: ./requirements/update_requirements.py
      - run: git diff --exit-code
