name: Check test-sequences consistency

on: [push]

permissions: {}

jobs:
  jobs-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # 6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
        with:
          dev: false
      - name: Create a dummy data.py
        run: cp data.py-dist data.py
      - name: jobs-check
        run: |
          FAILURES=""
          for seq in $(find -name "*.lst"); do
            if ! pytest @$seq --collect-only --quiet; then
              FAILURES="$FAILURES $seq"
            fi
          done
          [ -z "$FAILURES" ] || { echo >&2 "ERROR: test sequences failed consistency check: $FAILURES"; exit 1; }
